* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Oswald, sans-serif;
    background: #E3E6EA;
}

/*##### COMMONS #####*/

html {
    scroll-behavior: smooth;
}

.wrapper {
    max-width: 1318px;
    margin: 0 auto;
}
.wrapper2 {
    max-width: 1209px;
    margin: 0 auto;
}
.wrapper3 {
    max-width: 836px;
}

.About-Research h1, .Journal-Publications h1, .Conference-Publications h1, .Education h1, 
.Achievements h1 {
    font-weight: 500;
    font-size: 35px;
    letter-spacing: 0.05em;
    color: #37393E;
    padding-bottom: 68px;
}

.Blues {
    color: #5484FF;
}

section {
    padding-top: 120px;
}



@media screen and (max-width: 1260px) {
    .wrapper2, .wrapper3 {
        margin-left: 12px;
        margin-right: 12px;
    }
    h1 {
        text-align: center;
    }
}



/*##### NAVIGATION #####*/

.nav-container {
    height: 60px;
    width: 100%;
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(6px);
    position: fixed;
    z-index: 200;
    padding-left: 25px;
    padding-right: 25px;
}

.nav-container .menu-icon,
.nav-container .Name-logo
{
    z-index: 300;
}

.desk-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 17px 0px;
}
nav ul {
    display: flex;
}
.nav-items li {
    list-style: none;
    margin: 0 38px;
}
.nav-items li.contact {
    margin-right: 0;
}
nav .Name-logo a {
    text-decoration: none;
    font-family: Playfair Display;
    font-weight: normal;
    font-size: 22px;
    letter-spacing: 0.3em;
    color: #37393E;
    
}
.nav-items li a {
font-weight: normal;
font-size: 19px;
letter-spacing: 0.15em;
color: #37393E;
text-decoration: none;
position: relative;
}

nav a:hover {
    transition: 300ms;
    color: #5484FF;
}
.nav-container .nav-items li a.active::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    background: #5484FF;
    left: 0;
    bottom: -17px;
}

/*## Nav Animation ##*/

.nav-container {
    animation: fadeDown 800ms forwards;
    opacity: 0;
}

@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ###### MOBILE ADAPTATION ###### */

nav.desk-nav .menu-icon, .mobile-nav {
    display: none;
}

@media screen and (max-width: 1010px) {
    
    nav.desk-nav ul {
        display: none;
    }
    
    nav.desk-nav .menu-icon {
        display: block;
        cursor: pointer;
    }
    .mobile-nav {
    display: flex;
    height: 65vh;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.90);
    right: 0;
    z-index: 190;
    justify-content: center;
    text-align: center;
        
    opacity: 0;
    pointer-events: none;
    top: -100%;
    }
    
    .mobile-nav.active {
        opacity: 1;
        pointer-events: auto;
        top: 0;
    }
    
    .mobile-nav .menu-items {
        list-style: none;
        padding: 0;
    }
    .mobile-nav .menu-items li {
        margin: 50px 0;
    }
    .mobile-nav .menu-items li:first-child {
        margin-top: 90px;
    }
    .mobile-nav .menu-items li a {
        font-weight: 500;
        font-size: 20px;
        color: #37393E;
        text-decoration: none;
        letter-spacing: 0.1rem;
    }
}



/*##### HEADER #####*/

.Header-Area {
    padding-top: 60px;
}

header {
    background: #4B4D52;
    min-height: 537px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

.wrapper0 {
    max-width: 1318px;
}

header .Header-Content {
    margin-top: 45px;
    margin-bottom: 45px;
    width: 100%;
    display: grid;
    grid-template-columns: 1.09fr 1fr;
    grid-template-rows: 1.27fr 1.03fr 3.05fr 1fr;
    grid-gap: 5px;
    grid-column-gap: 30px;
    grid-template-areas: "image namephd"
        "image mechpenn"
        "image descript"
        "image buttonrow";
}

header .imagebox {
    grid-area: image;
    background-image:url(Profile-Photo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 440px;
} 

header .Name-PhD {
    grid-area: namephd;
} 

header .Mech-Penn {
    grid-area: mechpenn;
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

header .Swapnil-description {
    grid-area: descript;
}  

header .button-row {
    grid-area: buttonrow;
    display: flex;
    align-items: flex-end;
}

header .button-row a {
    text-decoration: none;
}



header .button-row p {
    border: 1px solid #FAFAFA;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 56px;
    padding-right: 56px;
    border-radius: 58px;
    color: #FFF;
    font-weight: normal;
font-size: 16px;
    letter-spacing: 0.15em;
}

header .button-row p:hover {
    border: 1px solid #5484FF;
    transition: 400ms;
}


/* ## TEXT DECOR ## */

header .Name-PhD .self-name {
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 0.05em;
    color: #5484FF;
}
header .Name-PhD .current-position {
    font-weight: 300;
    font-size: 18px;   
    line-height: 30px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}
header .Mech-Penn .Field {
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.1em;
    color: #5484FF;
}
header .Mech-Penn .college {
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

header .Swapnil-description {
    font-weight: normal;
font-size: 20px;
line-height: 130%;
display: flex;
align-items: center;
letter-spacing: 0.05em;

color: #FFFFFF;

}

/*## Header Animation ##*/

.Header-Area .Name-PhD,
.Header-Area .Mech-Penn,
.Header-Area .Swapnil-description
{
    animation: fadeIn 1300ms forwards;
    opacity: 0;
    animation-delay: 400ms;
}
@keyframes fadeIn {
    to { opacity: 1; }
}

.Header-Area .imagebox {
    animation: fadeFromLeft 800ms forwards;
    opacity: 0;
}
@keyframes fadeFromLeft {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.Header-Area .Resume {
    animation: fadeFromRight 800ms forwards;
    opacity: 0;
}

@keyframes fadeFromRight {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 100%;
        transform: translateX(o);
    }
}

/*##### ABOUT RESEARCH #####*/

.Projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 60px;
    justify-items: center;
}

.Projects .Project-Title {
    font-weight: 600;
font-size: 25px;
line-height: 130%;

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.07em;

color: #FFFFFF;
}

.Projects .Project-Title {
    max-width: 325px;
}

.Projects .projimage {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 7px;
    margin-bottom: 10px;
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 4px solid #4B4D52;
}
.Projects .project1 .projimage {
    background-image: url(Proj1.png);
    
}
.Projects .project2 .projimage {
    background-image: url(proj2.png);
}
.Projects .project3 .projimage {
    background-image: url(Proj3.png);
}
.Projects .project4 .projimage {
    background-image: url(proj4.png);
}
.Projects .project5 .projimage {
    background-image: url(Proj5.png);
}

.Projects p {
    font-weight: normal;
font-size: 20px;
line-height: 130%;

letter-spacing: 0.035em;

color: #37393E;
    
border-bottom: 4px solid #4B4D52;
background: #F8F9FA;
padding: 10px;
}



@media screen and (max-width: 1260px) {
    .Projects {
        grid-template-columns: 1fr 1fr;
        justify-content: space-around;
        grid-gap: 40px;
    }
    .Projects .projimage {
            margin-bottom: 10px;
        }
}

@media screen and (max-width: 800px) {
    .Projects {
        grid-template-columns: 1fr;
        grid-gap: 35px;
        justify-items: center;
    }
}


.Projects .project-container {
    max-width: 350px;
}

/*##### JOURNALS #####*/

.Journal-Publications .Journal-Papers h2 {
    font-weight: 600;
font-size: 16px;
line-height: 140%;
    letter-spacing: 0.05em;
color: #37393E;
}
.Journal-Publications .Journal-Papers h3 {
    font-weight: 300;
font-size: 16px;
    letter-spacing: 0.05em;
color: #707B86;

}

.Journal-Publications .JPapersBox{
    background: #F8F9FA;
    border-radius: 7px;
    width: 362px;
    height: 370px;
    border-top: 4px solid #37393E;
}

.Journal-Publications .Journal-Papers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 61px;
    justify-items: center;
}



.Journal-Publications .ThumbJournal {
    
    padding-top: 23px;
    padding-left: 119px;
    padding-bottom: 0;
    
   
}

.Journal-Publications .content {

    padding: 18px 25px 19px 24px;

}

.Journal-Publications .JName {
    
    display: flex;
    padding: 0px 25px 9px 25px;
    
}

.Journal-Publications .TTime {
    display: flex;
    padding: 0px 25px 0px 25px;
}

.Journal-Publications .JournalName, .Journal-Publications .Year {
    padding-left: 19.5px;
}

@media screen and (max-width: 1260px) {
    .Journal-Publications .Journal-Papers {
        grid-template-columns: 1fr 1fr;
        justify-content: space-around;
        grid-gap: 40px;
    }
}

@media screen and (max-width: 800px) {
    .Journal-Publications .Journal-Papers {
        grid-template-columns: 1fr;
        grid-gap: 20px;
        justify-items: center;
    }
}

/*##### CONFERENCE #####*/


.wrapperA {
    max-width: 1208px;
    margin: 0 auto;
}

.ConfCombined .Cpublication {
    max-width: 520px;
    height: auto;
    background: #F8F9FA;
    padding: 10px;
    padding-right: 25px;
    border-radius: 7px;
    border-left: 4px solid #37393E;
}

.ConfCombined .image {
    filter: drop-shadow(1px 2px 6px rgba(88, 118, 122, 0.25));
    padding-left: 15px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.ConfCombined .contents {
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-gap: 2px;
    
}

.ConfCombined .year, .ConfCombined .journal {
    display: flex;
    flex-direction: row;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
color: #707B86;
}

.ConfCombined .title {
font-weight: 600;
font-size: 16px;
line-height: 140%;
letter-spacing: 0.05em;

color: #37393E;
}

.ConfCombined .ticon, .ConfCombined .jicon {
    padding-right: 17px;
}

.ConfCombined .right {
    display: grid;
    grid-template-rows: 4.8fr 3fr 2fr;
    align-items: center;
}

.ConfCombined .left {
    align-items: center;
}

.ConfCombined {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 55px;
}

@media screen and (max-width: 1090px) {
    .ConfCombined {
        grid-template-columns: 1fr;
        justify-items: center;
        grid-gap: 20px;
    }
    
    .ConfCombined .journal {
    padding-top: 5px;
    }
}

/*##### EDUCATION #####*/

.wrapper3 {
   margin: auto;
}

.Education .whitecontainer {
    background: #FFF;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    min-height: 49px;
    align-items: center;
    justify-content: space-between;
}

.Education .darkcontain1, .Education .darkcontain2 {
    background: #37393E;
    color: #FFF;
    margin: 7px;
    min-height: 34px;
    border-radius: 7px;
}

.Education .darkcontain1 {
    width: 90px;
}

.Education .darkcontain2 {
    width: 138px;
}
.Education .Manipal {
    margin-top: 42px;
}

.Education h4 {
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    text-align: center;
    margin-top: 2px;
}

.Education .degree {
    letter-spacing: 0.10em;
    font-weight: normal;
    font-size: 20px;
    color: #37393E;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
/*##### ACHIEVEMENTS #####*/

.Achievements {
    background-image: url(Dotted-line.svg);
    background-repeat: no-repeat;
    background-position: bottom center;
}

.Achievements .indiv-achieve {
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.Achievements .year {
    background: #37393E;
    color: #FFF;
    text-align: center;
    border-radius: 7px;
    width: 112px;
    margin: 0 auto;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 6px;
}

.Achievements .Achieve-Description {
    background: #FFF;
    color: #37393E;
    text-align: center;
    border-radius: 7px;
    max-width: 430px;
    margin: 0 auto;
    padding-top: 11px;
    padding-bottom: 13px;
}

.Education h3 {
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.07em;
    color: #37393E;
}

/*##### FOOTER #####*/

footer {
    background: #37393E;
    height: 460px;
}

/*#### MOB NARROW ####*/



@media screen and (max-width: 800px) {
    .wrapper2, .wrapper3 {
        margin-left: 10px;
        margin-right: 10px;
    }
    h1 {
        text-align: center;
    }
    
    section {
        padding-top: 80px;
    }
    
    .nav-container .Name-logo a {
        font-size: 18px;
    }
    
    section .wrapper2 h1, .wrapper3 h1 {
        font-size: 30px;
        padding-bottom: 20px;
    }
}

@media (max-width: 800px) {
    header .Header-Content {
        /*
        grid-template-columns: 1fr;
        grid-template-rows: 7.41fr 1.25fr 1fr 3.5fr 1.4fr;
        grid-template-areas: 
            "image"
            "namephd"
            "mechpenn"
            "descript"
            "buttonrow"; */
        
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 15px;
        margin-bottom: 15px;
        
    }
    header .imagebox {
        border-radius: 10px;
        height: auto;
    }
    header .button-row {
        justify-content: center;
    }
        .wrapper0 {
        margin-left: 10px;
        margin-right: 10px;
    }
    header {
         padding-left: 10px;
    padding-right: 10px;
    }
    
    header .Swapnil-description {
        padding-top: 10px;
    }
    
    header .Mech-Penn {
        font-weight: 300;
    }
    
    header .button-row {
        margin-top: 10px;
    }
    header .imagebox {
        height: 400px;
    }
    
    header .Swapnil-description {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);;
        border-top: 1px solid rgba(255, 255, 255, 0.2);;
        padding-bottom: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 444px) {
    .Conference-Publications .contents {
        display: flex;
        flex-direction: column;
    }
    
    .Conference-Publications .left  {
        margin: auto;
    }
    .Conference-Publications .right {
        margin: auto;
    }
    
    
    .Education .whitecontainer {
        display: flex;
        flex-direction: column;
    }
    
    header .imagebox {
        max-height: 400px;
        min-height: 300px;
    }
    .nav-container .Name-logo a {
        font-size: 17px;
    }
    
    .ConfCombined .Cpublication {
        padding-right: 5px;
    }
    
    .Projects .Written-Content p {
        font-size: 17px;
    }
    
    header .Swapnil-description {
        font-size: 18px;
    }
}
